<form>
  <h4>Şifremi Unuttum </h4>
  <hr />
  <div class="form-group">
    <label for="exampleInputEmail1">Kullanıcı Adı</label>
    <input type="email" class="form-control form-control-sm" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Kullanıcı adınızı giriniz">
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-sm btn-outline-primary float-right">E-postama Gönder</button>
  </div>
  <div class="clearfix"></div>

  <hr class="my-4" />

  <div class="text-center">
    <a routerLink="/auth/login" class="float-left">Giriş Yap</a>
    <a routerLink="/auth/register" class="float-right">Kayıt Ol</a>
  </div>

</form>
