/* You can add global styles to this file, and also import other style files */
.bc{
  padding: 25px;
  background-color: rgba(223, 218, 189, 0.67);
  min-height: 292px;
}
.block {
  display: flex;
  width: 100vw;
  height: 100vh;
}
.bg {
  background-image: url("./assets/images/content/bg.jpg");
  background-repeat: repeat;
}
